////
// Tables
////

table,.table {
    width: 100%;
    border: 1px solid darken(white, 15%);
    border-collapse: collapse;
    text-align: left;
    color: lighten(black, 40%);
    margin-bottom: $base;
}

thead {
    background-color: darken(white, 5%);
    border-bottom: 2px solid darken(white, 15%);
}

tbody, thead {
    vertical-align: inherit;
}

th {
    padding: $base/4 $base/2;
    font-weight: $bold;
}

td {
    border-top: 1px solid darken(white, 15%);
    padding: 0 $base/2;
    background-color: darken(white, 2%);
}

.table.table--centered {
    td, th, & {
        text-align: center;
        vertical-align: middle;
    }
}

.table.table--striped {
    td {
    }

    tr:nth-child(odd) td {
        background-color: white;
    }
}


.table.table--vatop {
    vertical-align: top;
}

.table.table--vabottom {
    vertical-align: bottom;
}
