////
// Grid Setup
// 
// define basic colours and then apply them to vars
// prefix colour variables with 'clr'
////

$primary_color:     #4682B4; //#4682B4;
$secondary_color:   mix(white, $primary_color, 10%); // #4169E1;

// UI Color Map
$colors: (
    text: (
        default:    grey
    ),
    links: (
        default:    $secondary_color,
        hover:      darken($secondary_color,15%),
        visited:    $secondary_color
    ),
    brand: (
        first: $primary_color,
        second: $primary_color
    )
);

// clr function for outputting map[ped data above
@function clr($element, $color, $map: $colors) {
    @return map-get(map-get($map, $element), $color);
}