.content{
    padding: $base;
    width: 100%;
    text-align: left;

    & > *{
        margin-bottom: $base;
    }
}

.content--offset{
    margin-top: $base*1.5;
    will-change: transform;
    transform: translateZ(0);
    padding: 0 $base*2 $base $base;
    transition: 400ms;

    @include at-breakpoint($m){
        width: 69%;
        transform: translateX(45%);
    }
}

.close-sidebar .content--offset{
    @include at-breakpoint($m){
        transform: translateX(30%);
    }
}

.content h1 + p{
    @extend .lead;
}

.content p a{
    transition: border-color 200ms;
    border-bottom: 1px solid rgba(clr(links, default),0.2);
    line-height: 1;

    &:hover{
        border-color: clr(links, default);
    }
}

